@using ServiceContracts
@model IEnumerable<string>
@inject ICitiesService citiesServiceInView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact Support Page";
}

<h1>Contact</h1>

@{
    List<string> citiesFromServiceInView = citiesServiceInView.GetCities();
}

<ul class="list">
    @foreach (string city in citiesFromServiceInView)
    {
        <li>@city</li>
    }
</ul>

<p>contact details in below footer</p>

<div>@ViewBag.InstanceId_CitiesService_1</div>
<div>@ViewBag.InstanceId_CitiesService_2</div>
<div>@ViewBag.InstanceId_CitiesService_3</div>

<div class="box">
    @ViewBag.InstanceId_CitiesService_InScope
</div>
<div>@citiesServiceInView.ServiceInstanceId</div>

@section footer_section
{
    <p>Contact support: +8801632089529</p>
    @* Local Script: <script src="someScript.js"></script>*@
}